In [ ]:
import requests
import pandas as pd
from datetime import datetime
import time

# Configure the API
TOKEN = "TOKEN HERE"
STATION_ID = "GHCND:USW00094846"  # Chicago O'Hare
DATASET_ID = "GHCND"
UNITS = "standard"

HEADERS = {"token": TOKEN}
BASE_URL = "https://www.ncdc.noaa.gov/cdo-web/api/v2/data"

# Fetch the data
def get_noaa_data(year):
    """Fetch daily data for a given year with pagination"""
    all_records = []
    offset = 1
    limit = 1000

    params = {
        "datasetid": DATASET_ID,
        "stationid": STATION_ID,
        "startdate": f"{year}-01-01",
        "enddate": f"{year}-12-31",
        "units": UNITS,
        "limit": limit,
        "offset": offset,
    }

    while True:
        response = requests.get(BASE_URL, headers=HEADERS, params=params)
        if response.status_code != 200:
            print(f"Error {response.status_code}: {response.text}")
            break

        data = response.json()
        results = data.get("results", [])
        if not results:
            break

        all_records.extend(results)

        # Pagination
        if len(results) < limit:
            break
        params["offset"] += limit

        time.sleep(0.3)

    return all_records


# How much data to fetch
all_data = []
for year in [2023, 2024, 2025]:
    print(f"Fetching {year}...")
    records = get_noaa_data(year)
    print(f"  â†’ {len(records)} records fetched for {year}")
    all_data.extend(records)

print(f"âœ… Total records fetched: {len(all_data)}")

# Convert to Dataframes
if all_data:
    df = pd.DataFrame(all_data)
    df["date"] = pd.to_datetime(df["date"]).dt.date
    df_pivot = df.pivot_table(
        index="date", columns="datatype", values="value", aggfunc="mean"
    ).reset_index()

    print("âœ… NOAA data shape:", df_pivot.shape)
    print(df_pivot.head())
else:
    print("âš ï¸ No data fetched â€” check your NOAA token or date range.")

Fetching 2023...
Error 503: <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>503 Service Unavailable</title>
</head><body>
<h1>Service Unavailable</h1>
<p>The server is temporarily unable to service your
request due to maintenance downtime or capacity
problems. Please try again later.</p>
<p>Additionally, a 503 Service Unavailable
error was encountered while trying to use an ErrorDocument to handle the request.</p>
</body></html>

  â†’ 0 records fetched for 2023
Fetching 2024...
  â†’ 6872 records fetched for 2024
Fetching 2025...
  â†’ 3147 records fetched for 2025
âœ… Total records fetched: 10019
âœ… NOAA data shape: (672, 29)
datatype        date  ADPT     ASLP     ASTP  AWBT  AWND  PGTM  PRCP  RHAV  \
0         2024-01-01 -50.0  10254.0  10000.0 -22.0  10.1   NaN  0.00  74.0
1         2024-01-02 -39.0  10207.0   9946.0 -11.0  12.1   NaN  0.00  77.0
2         2024-01-03 -28.0  10190.0   9939.0  -6.0   7.2   NaN  0.00  77.0
3         2024-01-04 -67.0  10264.0  10014.0 -28.0   4.9   NaN  0.00  62.0
4         2024-01-05 -50.0  10217.0   9953.0 -17.0   6.7   NaN  0.01  70.0

datatype  RHMN  ...  WSF5  WT01  WT02  WT03  WT04  WT05  WT06  WT07  WT08  \
0         67.0  ...  25.1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1         65.0  ...  30.0   1.0   NaN   NaN   NaN   NaN   NaN   NaN   1.0
2         67.0  ...  18.1   1.0   NaN   NaN   NaN   NaN   1.0   NaN   NaN
3         50.0  ...  19.9   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4         59.0  ...  17.0   1.0   NaN   NaN   NaN   NaN   NaN   NaN   NaN

datatype  WT09
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 29 columns]
âœ… Saved as 'chicago_weather_2023_2025.csv'

Without fetching the API

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Chicago-Jan-01-2023_to_Aug-31-2025.csv")
print("Initial shape:", df.shape)

# Check Missing Values for further cleaning
print("\nColumns:\n", df.columns.tolist())
print("\nMissing values (top 10):\n", df.isna().sum().sort_values(ascending=False).head(10))

# Standardize datetime
if "datetime" in df.columns:
    df["datetime"] = pd.to_datetime(df["datetime"], errors="coerce")
    df = df.dropna(subset=["datetime"])
else:
    raise ValueError("No 'datetime' column found â€” please check file structure")

# Handle missing or irrelevant columns
drop_cols = [
    "stations", "description", "icon", "name"
]
df = df.drop(columns=[c for c in drop_cols if c in df.columns])

# Fill missing numeric values with interpolation (smooth time-series)
num_cols = df.select_dtypes(include=[np.number]).columns
df[num_cols] = df[num_cols].interpolate(method="linear", limit_direction="both")

# Fill categorical text columns with mode (most frequent value)
cat_cols = df.select_dtypes(exclude=[np.number]).columns
for c in cat_cols:
    df[c] = df[c].fillna(df[c].mode()[0] if not df[c].mode().empty else "Unknown")

df["month"] = df["datetime"].dt.month
df["year"] = df["datetime"].dt.year
df["dayofweek"] = df["datetime"].dt.dayofweek
df["is_weekend"] = df["dayofweek"].isin([5, 6])

print("\nâœ… Cleaned Data Summary:")
print(df.info())
print("\nPreview:")
print(df.head())

df.to_csv("/content/drive/MyDrive/Colab Notebooks/Chicago_weather_cleaned.csv", index=False)
print("\nðŸ’¾ Cleaned dataset saved to /content/drive/MyDrive/Colab Notebooks/Chicago_weather_cleaned.csv")

Initial shape: (974, 33)

Columns:
 ['name', 'datetime', 'tempmax', 'tempmin', 'temp', 'feelslikemax', 'feelslikemin', 'feelslike', 'dew', 'humidity', 'precip', 'precipprob', 'precipcover', 'preciptype', 'snow', 'snowdepth', 'windgust', 'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility', 'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'sunrise', 'sunset', 'moonphase', 'conditions', 'description', 'icon', 'stations']

Missing values (top 10):
 preciptype      577
severerisk      102
name              0
tempmin           0
datetime          0
feelslikemax      0
feelslikemin      0
feelslike         0
tempmax           0
dew               0
dtype: int64

âœ… Cleaned Data Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974 entries, 0 to 973
Data columns (total 33 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   datetime          974 non-null    datetime64[ns]
 1   tempmax           974 non-null    float64
 2   tempmin           974 non-null    float64
 3   temp              974 non-null    float64
 4   feelslikemax      974 non-null    float64
 5   feelslikemin      974 non-null    float64
 6   feelslike         974 non-null    float64
 7   dew               974 non-null    float64
 8   humidity          974 non-null    float64
 9   precip            974 non-null    float64
 10  precipprob        974 non-null    int64
 11  precipcover       974 non-null    float64
 12  preciptype        974 non-null    object
 13  snow              974 non-null    float64
 14  snowdepth         974 non-null    float64
 15  windgust          974 non-null    float64
 16  windspeed         974 non-null    float64
 17  winddir           974 non-null    float64
 18  sealevelpressure  974 non-null    float64
 19  cloudcover        974 non-null    float64
 20  visibility        974 non-null    float64
 21  solarradiation    974 non-null    float64
 22  solarenergy       974 non-null    float64
 23  uvindex           974 non-null    int64
 24  severerisk        974 non-null    float64
 25  sunrise           974 non-null    object
 26  sunset            974 non-null    object
 27  moonphase         974 non-null    float64
 28  conditions        974 non-null    object
 29  month             974 non-null    int32
 30  year              974 non-null    int32
 31  dayofweek         974 non-null    int32
 32  is_weekend        974 non-null    bool
dtypes: bool(1), datetime64[ns](1), float64(22), int32(3), int64(2), object(4)
memory usage: 233.2+ KB
None

Preview:
    datetime  tempmax  tempmin  temp  feelslikemax  feelslikemin  feelslike  \
0 2023-01-01     44.7     37.1  41.5          41.1          31.8       38.3
1 2023-01-02     43.7     32.0  38.4          40.3          31.1       35.0
2 2023-01-03     47.6     39.7  43.5          45.6          32.9       40.2
3 2023-01-04     45.8     33.3  37.0          41.7          25.1       30.6
4 2023-01-05     34.1     32.0  32.9          28.1          22.1       25.0

    dew  humidity  precip  ...  uvindex  severerisk              sunrise  \
0  38.6      89.5   0.117  ...        2        10.0  2023-01-01T07:18:26
1  35.8      90.5   0.000  ...        2        10.0  2023-01-02T07:18:30
2  42.4      96.0   0.979  ...        1        10.0  2023-01-03T07:18:33
3  32.3      83.1   0.010  ...        1        10.0  2023-01-04T07:18:33
4  28.0      82.2   0.002  ...        1        10.0  2023-01-05T07:18:30

                sunset  moonphase                    conditions  month  year  \
0  2023-01-01T16:30:24       0.32                Rain, Overcast      1  2023
1  2023-01-02T16:31:16       0.36              Partially cloudy      1  2023
2  2023-01-03T16:32:10       0.39                Rain, Overcast      1  2023
3  2023-01-04T16:33:05       0.42  Snow, Rain, Partially cloudy      1  2023
4  2023-01-05T16:34:02       0.46          Snow, Rain, Overcast      1  2023

   dayofweek  is_weekend
0          6        True
1          0       False
2          1       False
3          2       False
4          3       False

[5 rows x 33 columns]

ðŸ’¾ Cleaned dataset saved to /content/drive/MyDrive/Colab Notebooks/Chicago_weather_cleaned.csv